{{extend 'layout.html'}}

<script>
    var getHomePageAssetsUrl = "{{=URL('api', 'get_home_page_assets', user_signature=True)}}";
    var saveLogoUrl = "{{=URL('api', 'save_logo', user_signature=True)}}";
    var saveTrailerUrl = "{{=URL('api', 'save_trailer', user_signature=True)}}";
    var saveDescriptionUrl = "{{=URL('api', 'save_description', user_signature=True)}}";
    var saveTitleScreenshotUrl = "{{=URL('api', 'save_title_screenshot', user_signature=True)}}";

    var getAllMediaUrl = "{{=URL('api', 'get_all_media', user_signature=True)}}";
    var saveMediaUrl = "{{=URL('api', 'save_media', user_signature=True)}}";
    var deleteMediaUrl = "{{=URL('api', 'delete_media', user_signature=True)}}";
    
    var getPlaytestsUrl = "{{=URL('api', 'get_playtests', user_signature=True)}}";
    var savePlaytestUrl = "{{=URL('api', 'save_playtest', user_signature=True)}}";
    var deletePlaytestUrl = "{{=URL('api', 'delete_playtest', user_signature=True)}}";
</script>

<div id="edit">

    <br><br><br>
    <h1>Pages</h1>
    <button v-on:click="changeRoute('home')"> Primary Home Page Assets</button>
    <button v-on:click="changeRoute('media')">Media</button>
    <button v-on:click="changeRoute('playtests')">Playtests</button>

    <br><br><br>
    <div v-if="route == 'home'">
        {{ include 'default/edit_home_assets.html' }}
    </div>

    <div v-if="route == 'media'">
        {{ include 'default/edit_media.html' }}
    </div>

    <div v-if="route == 'playtests'">
        {{ include 'default/edit_playtests.html' }}
    </div>

</div>

<script src="{{=URL('static','js/edit.js')}}"></script>