<br><br>
<h2>Media</h2>
<div v-for="screenshot in screenshots" style="display: inline-block; border: 1px solid black; padding: 15px; margin: 10px; background-color: lightblue;">
    <img v-bind:src="screenshot.img_src" width="150"/><br>
    <label>Caption: </label>
    <p v-if="screenshot.caption">${ screenshot.caption }</p>
    <p v-if="!screenshot.caption"> No caption</p>
    <br>
    <button v-on:click="deleteScreenshot(screenshot.index)">Delete</button><br><br>
</div>

<br><br>
<h2>Add Media</h2>
<img v-bind:src="selectedScreenshot" width="150"/><br>
<input type="file" v-on:change="screenshotChanged"/><br><br>
<textarea v-model="caption" placeholder="Caption goes here"></textarea><br>
<button v-on:click="saveScreenshot">Save Media</button>

<script src="{{=URL('static','js/edit_media.js')}}"></script>