<br><br>
<h2>Media</h2>
<div v-for="media in allMedia" style="display: inline-block; border: 1px solid black; padding: 15px; margin: 10px; background-color: lightblue;">
    <img v-bind:src="media.img_src" width="150"/><br>
    <input type="file" v-on:change="specificMediaChanged(media.index, $event);"/>
    <label>Caption: </label><br>
    <textarea v-model="media.caption"></textarea>
    <br>
    <button v-on:click="updateMedia(media.index)">Update</button>
    <button v-on:click="deleteMedia(media.index)">Delete</button><br><br>
</div>

<br><br>
<h2>Add Media</h2>
<img v-bind:src="mediaPicture" width="150"/><br>
<input type="file" v-on:change="mediaPictureChanged"/><br><br>
<textarea v-model="mediaCaption" placeholder="Caption goes here"></textarea><br>
<button v-on:click="saveMedia">Save Media</button>

<script src="{{=URL('static','js/edit_media.js')}}"></script>