<script>
    var getPlaytestsUrl = "{{=URL('api', 'get_playtests')}}";
</script>

<link rel="stylesheet" href="{{=URL('static','css/play.css')}}"/>

<div v-if="route == 'play'">
    <div v-for="playtest in playtests">
        <div v-if="playtest.index % 2 == 0 && playtest.index == 0 && playtest.index != playtests.length-1" class="playtest-container dark-gray slant-bottom-towards-right">
            <div class="playtest-content shift-up">
                <h1 class="playtest-title">${ playtest.title }</h1>
                <div class="playtest-ad-container">
                    <div class="playtest-date-container light-gray rounded-left">
                        <div class="playtest-date">${ playtest.playtest_date }</div>
                        <div class="playtest-time">${ playtest.playtest_time }</div>
                        <div class="playtest-location">${ playtest.playtest_location }</div>
                    </div>
                    <img class="playtest-image rounded-right" v-bind:src="playtest.image" v-on:click="openImage(playtest.image)"/>
                </div>
                <div class="playtest-text">
                    <div class="playtest-tagline">${ playtest.tagline }</div>
                    <div class="playtest-description">${ playtest.description }</div>
                </div>
            </div>
        </div>
        <div v-if="playtest.index % 2 == 0 && playtest.index != 0 && playtest.index != playtests.length - 1" class="playtest-container dark-gray slant-both-towards-left lengthened">
            <div class="playtest-content">
                <h1 class="playtest-title">${ playtest.title }</h1>
                <div class="playtest-ad-container">
                    <div class="playtest-date-container light-gray rounded-left">
                        <div class="playtest-date">${ playtest.playtest_date }</div>
                        <div class="playtest-time">${ playtest.playtest_time }</div>
                        <div class="playtest-location">${ playtest.playtest_location }</div>
                    </div>
                    <img class="playtest-image rounded-right" v-bind:src="playtest.image" v-on:click="openImage(playtest.image)"/>
                </div>
                <div class="playtest-text">
                    <div class="playtest-tagline">${ playtest.tagline }</div>
                    <div class="playtest-description">${ playtest.description }</div>
                </div>
            </div>
        </div>
        <div v-if="playtest.index % 2 == 0 && playtest.index == playtests.length-1 && playtest.index != 0" class="playtest-container dark-gray slant-top-towards-left">
            <div class="playtest-content shift-down">
                <h1 class="playtest-title">${ playtest.title }</h1>
                <div class="playtest-ad-container">
                    <div class="playtest-date-container light-gray rounded-left">
                        <div class="playtest-date">${ playtest.playtest_date }</div>
                        <div class="playtest-time">${ playtest.playtest_time }</div>
                        <div class="playtest-location">${ playtest.playtest_location }</div>
                    </div>
                    <img class="playtest-image rounded-right" v-bind:src="playtest.image" v-on:click="openImage(playtest.image)"/>
                </div>
                <div class="playtest-text">
                    <div class="playtest-tagline">${ playtest.tagline }</div>
                    <div class="playtest-description">${ playtest.description }</div>
                </div>
            </div>
        </div>
        <div v-if="playtest.index == 0 && playtest.index == playtests.length-1" class="dark-gray only-playtest">
            <div class="playtest-content">
                <h1 class="playtest-title">${ playtest.title }</h1>
                <div class="playtest-ad-container">
                    <div class="playtest-date-container light-gray rounded-left">
                        <div class="playtest-date">${ playtest.playtest_date }</div>
                        <div class="playtest-time">${ playtest.playtest_time }</div>
                        <div class="playtest-location">${ playtest.playtest_location }</div>
                    </div>
                    <img class="playtest-image rounded-right" v-bind:src="playtest.image" v-on:click="openImage(playtest.image)"/>
                </div>
                <div class="playtest-text">
                    <div class="playtest-tagline">${ playtest.tagline }</div>
                    <div class="playtest-description">${ playtest.description }</div>
                </div>
            </div>
        </div>
        <div v-if="playtest.index % 2 == 1 && playtest.index != playtests.length -1" class="playtest-container transparent shortened">
            <div class="playtest-content">
                <h1 class="playtest-title">${ playtest.title }</h1>
                <div class="playtest-ad-container">
                    <img class="playtest-image rounded-left" v-bind:src="playtest.image" v-on:click="openImage(playtest.image)"/>
                    <div class="playtest-date-container dark-gray rounded-right">
                        <div class="playtest-date">${ playtest.playtest_date }</div>
                        <div class="playtest-time">${ playtest.playtest_time }</div>
                        <div class="playtest-location">${ playtest.playtest_location }</div>
                    </div>
                </div>
                <div class="playtest-text">
                    <div class="playtest-tagline">${ playtest.tagline }</div>
                    <div class="playtest-description">${ playtest.description }</div>
                </div>
            </div>
        </div>
        <div v-if="playtest.index % 2 == 1 && playtest.index == playtests.length -1" class="playtest-container transparent shift-up shortened-slightly">
            <div class="playtest-content">
                <h1 class="playtest-title">${ playtest.title }</h1>
                <div class="playtest-ad-container">
                    <img class="playtest-image rounded-left" v-bind:src="playtest.image" v-on:click="openImage(playtest.image)"/>
                    <div class="playtest-date-container dark-gray rounded-right">
                        <div class="playtest-date">${ playtest.playtest_date }</div>
                        <div class="playtest-time">${ playtest.playtest_time }</div>
                        <div class="playtest-location">${ playtest.playtest_location }</div>
                    </div>
                </div>
                <div class="playtest-text">
                    <div class="playtest-tagline">${ playtest.tagline }</div>
                    <div class="playtest-description">${ playtest.description }</div>
                </div>
            </div>
        </div>
    </div>
</div>