.trailer-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.trailer-content {
    transform: translateY(-5%);
}

.trailer-header {
    font-family: 'Metal Mania', cursive;
    color: rgb(238, 238, 238);
    text-align: center;
}

iframe {
    display: block;
    margin: auto;
}

@media only screen and (min-width: 1250px) {
    .trailer-container {
        height: 80vh;
    }

    .trailer-header {
        font-size: 105px;
    }

    iframe {
        width: 51vw;
        height: 28vw;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1249px) and (min-height: 1360px) {
    .trailer-container {
        height: 60vh;
    }

    .trailer-header {
        font-size: 105px;
    }

    iframe {
        width: 82vw;
        height: 45vw;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1249px) and (max-height: 1359px) {
    .trailer-container {
        height: 80vh;
    }

    .trailer-header {
        font-size: 85px;
    }

    iframe {
        width: 51vw;
        height: 28vw;
    }
}   

@media only screen and (min-width: 650px) and (max-width: 999px) and (min-height: 1020px) {
    .trailer-container {
        height: 60vh;
    }

    .trailer-header {
        font-size: 85px;
    }

    iframe {
        width: 82vw;
        height: 45vw;
    }
}

@media only screen and (min-width: 650px) and (max-width: 999px) and (max-height: 1019px) {
    .trailer-container {
        height: 60vh;
    }

    .trailer-header {
        font-size: 55px;
    }

    iframe {
        width: 69vw;
        height: 38vw;
    }
}

@media only screen and (min-width: 550px) and (max-width: 649px) {
    .trailer-container {
        height: 60vh;
    }

    .trailer-header {
        font-size: 55px;
    }

    iframe {
        width: 69vw;
        height: 38vw;
    }
}

@media only screen and (min-width: 450px) and (max-width: 549px) {
    .trailer-container {
        height: 60vh;
    }

    .trailer-header {
        font-size: 55px;
    }

    iframe {
        width: 82vw;
        height: 45vw;
    }
}

@media only screen and (min-width: 350px) and (max-width: 449px) {
    .trailer-container {
        height: 45vh;
    }

    .trailer-header {
        font-size: 40px;
    }

    iframe {
        width: 82vw;
        height: 45vw;
    }
}

@media only screen and (max-width: 349px) {
    .trailer-container {
        height: 45vh;
    }

    .trailer-header {
        font-size: 40px;
    }

    iframe {
        width: 82vw;
        height: 45vw;
    }
}