.navbar {
    background-color: rgb(35, 35, 35);
}

.navbar-brand {
    text-shadow: 1px 1px rgb(95, 201, 37);
    font-family: 'Butcherman', cursive;
    font-size: 35px;
}

.nav-link {
    font-size: 20px;
    font-family: 'Exo 2', sans-serif;
}

.navbar-brand:hover, .nav-link:hover {
    background: rgb(225, 76, 255);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.almost-white {
    color: rgb(238, 238, 238);
}

.company-name {
   transform: translateY(40%);
}

.page-footer {
    width: 100%;
    background-color: rgb(35, 35, 35);
    color: rgb(238, 238, 238);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 20px;
}

.company-name {
    font-family: 'Exo 2', sans-serif;
}

@media only screen and (min-width: 450px) {
    .company-name {
        font-size: 25px;
    }
}

@media only screen and (max-width: 449px) {
    .company-name {
        font-size: 15px;
    }
}

